.blog_section{
    display: flex;
    justify-content: center;
    margin: var(--distance-lg)
}

.blog_content{ 
    width: var(--max-width);
    display: flex;
    gap: var(--distance-lg);
}

.blog{ 
    border: var(--border-xs);
    margin-bottom: var(--distance-xxl);
    box-shadow: var(--box-shadow);
}

.blog_image { width: 100%; }


.blog_body{ padding: var(--distance-lg); }

.blog_body_subheading, .blog_body_button, .blog_body_heading {
    display: flex;
    justify-content: center;
}

.blog_body_subheading, .blog_body_button a {
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-xs);
}

.blog_body_button a {
    border: var(--border-secondary);
    padding: 8px 16px;
    margin: var(--distance-lg) 0
}

.blog_footer{
    border-top: var(--border-xs);
    display: flex;
    justify-content: space-between;
    padding-top: var(--distance-xs);
}

.blog_footer_name, .blog_footer_social a {
    color: var(--social-color);
}

.blog_footer_name {
    font-style: italic;
}

.blog_footer_social {
    display: flex;
    gap: var(--distance-xs)
}
    